
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <p class="bg-primary">Nullam id dolor id nibh ultricies vehicula ut id elit....</p>
    <p class="bg-success">Nullam id dolor id nibh ultricies vehicula ut id elit....</p>
    <p class="bg-info">Nullam id dolor id nibh ultricies vehicula ut id elit....</p>
    <p class="bg-warning">Nullam id dolor id nibh ultricies vehicula ut id elit....</p>
    <p class="bg-danger">Nullam id dolor id nibh ultricies vehicula ut id elit....</p>
</body>
</html>
